## 2) What ports are the most common to be probed or attacked (Top 25)?  
a. What type of data do you include/exclude?  
b. Support your decision(s).

** Answer **  
The top 25 ports to be probed or attacked in order of highest attack are: 23,    22,  2323,  5060,  3389,  5900,    80,  7547,  3306, 5358, 23231, PING,  6789, 81,  8080,  3390,   443,   222, 110,  5800,  5432,  8888,  8000,  9000,  1723

All data from the AllTraffic data were included. Since honeypot servers doesn't provide any other useful services, any attempts to communicate with these servers can only be seen as an attempt to attack.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

df_all = pd.read_csv("sorted-AllTraffic.csv",sep='\t', lineterminator='\n')

C:\Users\Andy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (19,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

replacing destination_port from None to 0

The standard ping command does not use TCP or UDP. It uses ICMP. To be more precise ICMP type 8 (echo message) and type 0 (echo reply message) are used. ICMP has no ports!

### Finding values

In [2]:
df = df_all

In [3]:
#df[(df['destination_port'] == "None") & (df['protocol'] != "None")].loc[:,'destination_port']  = 0
# fixing none numbers
df.loc[(df['destination_port'] == "None") & (df['protocol'] != "None"),'destination_port'] = 0
df.loc[(df['destination_port'] == "None") & (df['protocol'] == "None"),'destination_port'] = -1

In [4]:
# converting all values to integer since some entries where in string
df['destination_port'] = df['destination_port'].astype(int)

In [5]:
# does a value_count, assigning to a variable
s_port = df['destination_port'].value_counts()

In [6]:
# top 25 ports that are being attacked.
print("List of Ports")
print(s_port.head(25).index)
print("Total count of ports being attacked in descending order")
print(s_port.head(25))

List of Ports
Int64Index([   23,    22,  2323,  5060,  3389,  5900,    80,  7547,  3306,
             5358, 23231,     0,  6789,    81,  8080,  3390,   443,   222,
              110,  5800,  5432,  8888,  8000,  9000,  1723],
           dtype='int64')
Total count of ports being attacked in descending order
23       737873
22       237174
2323     101705
5060     101617
3389      59390
5900      45547
80        22581
7547      21005
3306      14931
5358      13784
23231     10015
0          8772
6789       8378
81         5178
8080       3884
3390       3683
443        2985
222        2274
110        1675
5800       1605
5432       1590
8888       1481
8000       1450
9000       1392
1723       1354
Name: destination_port, dtype: int64

In [7]:
dfp = pd.read_csv("commonports.csv")
dfp.iloc[0,1] = "ICMP"

In [8]:
# list of the port description associated to the top 25 port numbers
dfp[dfp['port'].isin(list(s_port.head(25).index))].values

array([[0, 'ICMP'],
       [22, 'SSH Remote Login Protocol'],
       [23, 'Telnet'],
       [80, 'HTTP'],
       [81, 'Torpark Onion Routing'],
       [110, 'POP3'],
       [222, 'UNKNOWN'],
       [443, 'HTTPS'],
       [1723, 'Point-to-Point Tunneling Protocol (PPTP)'],
       [2323, '3D-NFSD'],
       [3306, 'MySQL'],
       [3389, 'Microsoft Terminal Server (RDP)'],
       [3390, 'UNKNOWN'],
       [5060, 'Session Initiation Protocol (SIP)'],
       [5358, 'WSDAPI Secure Channel'],
       [5432, 'PostgreSQL'],
       [5800, 'UNKNOWN'],
       [5900, 'Virtual Network Computing (VNC)'],
       [6789, "Logger Net/Bucky's Inatand Msg"],
       [7547, 'CPE WAN Management Protocol (CWMP)'],
       [8000, 'Splunk'],
       [8080, 'HTTP Alternate'],
       [8888, 'MAMP Server'],
       [9000, 'UNKNOWN'],
       [23231, 'UNKNOWN']], dtype=object)

In [21]:
pd.DataFrame(s_port.head(25))

       destination_port
23               737873
22               237174
2323             101705
5060             101617
3389              59390
5900              45547
80                22581
7547              21005
3306              14931
5358              13784
23231             10015
0                  8772
6789               8378
81                 5178
8080               3884
3390               3683
443                2985
222                2274
110                1675
5800               1605
5432               1590
8888               1481
8000               1450
9000               1392
1723               1354

In [23]:
df_result = dfp[dfp['port'].isin(list(s_port.head(25).index))].set_index("port").join(pd.DataFrame(s_port.head(25)))
df_result['total_attack'] = df_result.destination_port
df_result = df_result.drop(['destination_port'],axis=1)

In [26]:
df_result.sort_values(['total_attack'],ascending=False)

                                    description  total_attack
port
23                                       Telnet        737873
22                    SSH Remote Login Protocol        237174
2323                                    3D-NFSD        101705
5060          Session Initiation Protocol (SIP)        101617
3389            Microsoft Terminal Server (RDP)         59390
5900            Virtual Network Computing (VNC)         45547
80                                         HTTP         22581
7547         CPE WAN Management Protocol (CWMP)         21005
3306                                      MySQL         14931
5358                      WSDAPI Secure Channel         13784
23231                                   UNKNOWN         10015
0                                          ICMP          8772
6789             Logger Net/Bucky's Inatand Msg          8378
81                        Torpark Onion Routing          5178
8080                             HTTP Alternate          3884
3390                                    UNKNOWN          3683
443                                       HTTPS          2985
222                                     UNKNOWN          2274
110                                        POP3          1675
5800                                    UNKNOWN          1605
5432                                 PostgreSQL          1590
8888                                MAMP Server          1481
8000                                     Splunk          1450
9000                                    UNKNOWN          1392
1723   Point-to-Point Tunneling Protocol (PPTP)          1354