## 4) What attacks were successful?  
a. What determines a successful attack? Explain.  
b. Support your decision(s).  

- Snort is not a honeypot but an IDS/IPS and is used to detect attacks.
- **Dionaea is a low interaction honeypot that exposes services such as MSSQL, SIP, HTTP, FTP, TFTP, SFTP, SSH, and SMB.**
- Cowrie is a medium interaction SSH honeypot designed to log brute force attacks and shell interactions performed by the attackers.
- Elastishoney is a simple elasticsearch honeypot designed to catch attackers exploiting remote code execution (RCE) vulnerabilities in elasticsearch.
- Glastopf is a Python based Web application honeypot that has the ability to emulate thousands of web vulnerabilities.
- Wordpot is a WordPress emulator honeypot.
- ShockPot is a web application honeypot that exposes the vulnerability CVE-2014-6271

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
#pd.set_option('display.max_rows', 500)

## Dionaea

In [2]:
df = pd.read_csv("sorted-dionaea.csv",sep='\t',dtype='str')

In [3]:
df.sample()

,id,ident,normalized,timestamp,unixTimestamp,cal_date,week day,year,month,day,hour,minutes,seconds,channel,source_ip,source_ip_num,source_port,destination_ip,destination_ip_num,destination_port,protocol,city,province,province_code,country,country_code,continent,latitude,longitude,asn,remote_hostname,connection_transport,connection_type
301597,580c04d393e09505a9b00354,c62a8c76-5ce0-11e6-94de-0800272a9814,True,2016-10-22 20:31:15.628,1477168275.628,2016-10-22,Sat,2016,10,22,20,31,15.628,dionaea.connections,219.134.156.241,3683032305,35137,192.168.10.2,3232238082,23,pcap,Guangzhou,Guangdong,GD,China,CN,Asia,23.1167,113.25,No.31 -Jin-rong Street,NaN,tcp,reject

In [4]:
dfd=df[['timestamp','channel','source_ip','destination_port','protocol','city','country','asn','remote_hostname','connection_transport','connection_type']]

In [5]:
dfd[(dfd.connection_type == 'accept')].sample(10)

,timestamp,channel,source_ip,destination_port,protocol,city,country,asn,remote_hostname,connection_transport,connection_type
1119342,2017-05-08 21:45:59.265,dionaea.connections,222.186.11.200,3306,mysqld,Nanjing,China,AS Number for CHINANET jiangsu province backbone,NaN,tcp,accept
1192841,2017-07-14 10:04:10.392,dionaea.connections,198.20.101.134,21,ftpd,None,Netherlands,SingleHop - Inc.,NaN,tcp,accept
1181465,2017-06-26 01:31:59.770,dionaea.connections,198.20.101.166,3306,mysqld,None,Netherlands,SingleHop - Inc.,NaN,tcp,accept
1141232,2017-05-25 04:19:16.057,dionaea.connections,61.147.73.48,3306,mysqld,Nanjing,China,No.31 -Jin-rong Street,NaN,tcp,accept
945130,2017-02-07 00:25:50.885,dionaea.connections,190.74.94.232,3306,mysqld,Agua Fria,Venezuela,CANTV Servicios - Venezuela,NaN,tcp,accept
1122603,2017-05-11 09:00:42.856,dionaea.connections,115.144.166.250,3306,mysqld,None,Republic of Korea,LG DACOM Corporation,NaN,tcp,accept
1275103,2017-08-22 11:20:38.270,dionaea.connections,195.38.136.204,21,ftpd,None,Germany,Claranet Ltd,NaN,tcp,accept
1094841,2017-04-13 02:39:03.293,dionaea.connections,223.114.240.198,3306,mysqld,None,China,Guangdong Mobile Communication Co.Ltd.,NaN,tcp,accept
1116793,2017-05-07 02:14:54.752,dionaea.connections,222.186.11.200,3306,mysqld,Nanjing,China,AS Number for CHINANET jiangsu province backbone,NaN,tcp,accept
759199,2016-12-03 04:15:41.714,dionaea.connections,104.216.4.233,3306,mysqld,Walnut,United States,Psychz Networks,NaN,tcp,accept

In [6]:
# total counts of connection types.
dfd.connection_type.value_counts()

reject     1211445
connect      78829
accept       10021
listen          11
Name: connection_type, dtype: int64